.ActiveImage {

    border: 1px solid #189eff

}

.onVideo-enter {
    position: fixed;    
    opacity: 0.01;
    transform: scale(0);
    top: 50%;
    right: 50%;
    z-index: 100;

    
}
.onVideo-enter.onVideo-enter-active {

    opacity: 1;
    z-index: 100;
    transform: scale(1);
    transition: all 300ms ease-in;
}     

.onVideo-leave {
    opacity: 1;
    transform: scale(1);
    position: fixed;
    top: 50%;
    z-index: 100;
    right: 50%;
}
.onVideo-leave.onVideo-leave-active {
    opacity: 0.01;
    z-index: 100;
    transform: scale(0);
    transition: all 300ms ease-in;
    /* transform: scale(0);
    transition: scale 300ms ease-out; */
}     

.Zoom_Thumb_Items_Aniamtion-enter {

    opacity: 0.01;

}
.Zoom_Thumb_Items_Aniamtion-enter.Zoom_Thumb_Items_Aniamtion-enter-active {

    opacity: 1;
    transition: opacity 300ms ease-in;
}

.Zoom_Thumb_Items_Aniamtion-enter {

    opacity: 1;

}
.Zoom_Thumb_Items_Aniamtion-leave.Zoom_Thumb_Items_Aniamtion-leave-active {

    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.Litmit {

    border: 2px solid #736666!important;
    color: #908080!important;

}
button:focus {
    outline: 0px dotted;
    /* outline: 5px auto -webkit-focus-ring-color; */
}

.Out_of_stock {

    color: #dc3545;
    font-size: 1em;
    font-weight: 800   

}
.Stock {


    color: #1e76d6;
    font-size: 1em;
    font-weight: 800;
}