.example-leave {
    opacity: 1;
  }
  
.SignIn-Error {

  border: 1px solid #e84040!important;

}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }

.Nav-enter {

  transform:  translateX(-100%);

}


.Nav-enter-active {

  animation: Nav-In 500ms ease-in forwards;

}

.Nav-leave {

  transform:  translateX(0%);
}
.Nav-leave-active {

    animation: Nav-Out 500ms ease-out forwards;
}

.modal_login span.AuthError {
  border: 1px solid #e84040!important;
  padding: 1em;
  margin: 1em 0em;
  display: block;
  font-size: 0.8em;
  text-align: center;
  background: #f7000042;
  color: #f90404f2;
}

/* Box */
.Header .box {

  background: 0 0;    
  z-index: 10;
  display: none;
}  

.Header .box ul.user-ajax-customer {
  padding: 11px 0;
  position: absolute;
  top: 35px;
  left: -35px;
}
.Header  .box ul {
  border: 1px solid #efefef;
  background: #fff;
  width: auto;
  min-width: 200px;
  z-index: 15;
  list-style: none;
  margin: 0;
  padding: 4px 12px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,.18);
  box-shadow: 0 6px 12px 0 rgba(0,0,0,.18);
  position: absolute;
  top: 50px;
  left: -42px;

}
.Header .box ul.user-ajax-customer li {
display: block;
position: relative;
}
.user-profile:hover .box:before {


  content: "";
  position: absolute;
  left: 17px;
  bottom: -16px;
  width: 100%;
  height: 20px;
  background: 0 0;
  display: inline-block;

}
.Header .box ul:before {
border: 9px solid transparent;
border-bottom: 9px solid #efefef;
margin-left: -9px;
bottom: 100%;
left: 50%;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.Header .box ul:after {
border: 8px solid transparent;
border-bottom: 9px solid #fff;
margin-left: -8px;
bottom: 100%;
left: 50%;
content: " ";
height: 0;
width: 0;
position: absolute;
}
.Header .box ul.user-ajax-customer li a {
display: block;
padding: 8px 20px;
color: #333;
font-size: 12px;
font-weight: 400;
text-decoration: none;
}
.Header .box ul.user-ajax-customer li a:hover {
background-color: #f5f4f5;
color: #000;
}
.Header .box ul.user-ajax-customer li a {
display: block;
padding: 8px 20px;
color: #333;
font-size: 12px;
font-weight: 400;
text-decoration: none;
}
.Account .Detail_Account:hover .box {

  display: block;

}
/* Detail Acount */

.Detail_Account{

text-decoration: none;
position: relative;
cursor: pointer;
  
}
.emptyMiniCart {

  display: inline-flex!important;
  justify-content: center;
  align-items: center;
  height: 50px;

}
@keyframes Nav-In {


  from {

    transform:  translateX(-100%);

  }
  to {

    transform:  translateX(0);
  }
}

 @keyframes Nav-Out {

  from {
    
    /*-webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);*/
    /* transform:  none */
    transform:  translateX(0%);
   
  }

  to {
    /* opacity: 1;
    transform: translate3d(-300px,0,0); */
    transform:  translateX(-100%);
   
  }
 }