@media(min-width: 768px){
	#column-left h3{
		color: #333;
	    font-weight: 600;
	    line-height: 1em;
	    margin-bottom: 14px;
	    margin-top: 0;
	    font-size: 16px;
	}
}
.container.Sign-Up {
    margin-bottom: 4em;
}
#content-sign-up h1,
#content-sign-up h2,
#content-sign-up h3,
#content-sign-up h4,
#content-sign-up h5,
#content-sign-up h6 {
    color: #333;
    font-weight: inherit;
    line-height: 1em;
    margin-bottom: 14px;
    margin-top: 0;
}
#content-sign-up .margin-b,
#content-sign-up p.margin-b {
    margin-bottom: 25px
}
#content-sign-up p {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 21px;
    color: #777
}
#content-sign-up p:last-child {
    margin-bottom: 0
}
#content-sign-up .padded_ex_bottom {
    padding: 20px 19px 0;
}
#content-sign-up .bordered_content {
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background: #fff;
}
#content-sign-up fieldset {
    margin-bottom: 10px
}
#content-sign-up fieldset+fieldset {
    margin-top: 5px
}
#content-sign-up .form-group {
    margin-bottom: 12px;    
    width: 100%;
   
}

#content-sign-up .form-group.no_b_margin {
    margin-bottom: 0
}
#content-sign-up .control-label,
#content-sign-up .form-horizontal .control-label {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
}
#content-sign-up div.required .control-label:after {
    content: " *";
    color: #ff456f;
    font-weight: 400
}
#content-sign-up .input-group {
    width: 100%
}
#content-sign-up .input-group-addon.captcha_wrap {
    background: #fff;
    border-color: #eaeaea;
    position: relative;
    width: 78px
}
#content-sign-up .input-group-addon.captcha_wrap img {
    position: absolute;
    width: 58px;
    height: 22px;
    top: 7px;
    left: 10px;
    max-width: none
}
#content-sign-up form {
    padding: 0;
    margin: 0;
    display: inline
}
#content-sign-up label {
    font-weight: inherit;
    margin-bottom: 0;
    color: #777
}
#content-sign-up .form-control,
#content-sign-up input,
#content-sign-up select,
#content-sign-up textarea {
    outline: 0;
    color: #777;
    border: 1px solid #eaeaea;
    padding: 6px 8px;
    max-width: 100%;
    border-radius: 3px;
    box-shadow: none
}
#content-sign-up .form-control:focus,
#content-sign-up input:focus,
#content-sign-up select:focus,
#content-sign-up textarea:focus {
    box-shadow: none;
    border-color: #eaeaea
}
#content-sign-up input[type=text],
#content-sign-up input[type=password],
#content-sign-up input[type=email],
#content-sign-up input[type=tel],
#content-sign-up select,
#content-sign-up select.form-control {
    height: 38px
}

#content-sign-up select::-ms-expand {
    display: none
}
#column-left .box {
    margin-bottom: 40px;
}

#content-sign-up .bottom_buttons {

    border-top: 1px solid #eaeaea;
    padding: 28px 20px;
}
#content-sign-up .btn-icon.btn-primary,
#content-sign-up .btn-primary {

    font-weight: bold;
    color: #fff
}
#content-sign-up .btn-primary {
  
    border-radius: 6px;
}
#content-sign-up .btn-primary:focus,
#content-sign-up .btn-primary:hover,
#content-sign-up .btn.btn-icon.btn-primary:focus,
#content-sign-up .btn.btn-icon.btn-primary:hover {
 
    color: #fff
}
#content-sign-up form.form-horizontal h3 {
    font-size: 1.5em;
}
#content-sign-up div#content h1 {
    line-height: 1.8em;
    font-size: 2.2em;
}
#column-left h3 {
    font-size: 20px;
    margin-top: 2em;
    
}

#column-left a.list-group-item.dark_hover:hover{
    color: #fff!important;
    border-color: transparent!important;
    background: #018bc8!important

}

@media(min-width: 576px){

       #content-sign-up .form-group {
       
        display: inline-flex;
        width: 100%;
        align-items: baseline;
    }

}
div#content-sign-up h1 {margin-top: 1em;margin-bottom: 0.5em;}